
/*----------------------------------------Main Background Colours---*/

.header-color,
.footer-color {
    background-color: #3b8dbd;
}

.main-color {
    background-color: #eaeaea;
}

/*----------------------------------------Header---*/

/*-------------------------------Logo---*/

.logo {
    text-align: center;
}