@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*----------------------------------------Main Background Colours---*/

.header-color,
.footer-color {
    background-color: #3b8dbd;
}

.main-color {
    background-color: #eaeaea;
}

/*----------------------------------------Header---*/

/*-------------------------------Logo---*/

.logo {
    text-align: center;
}

.logo h1 {
    color: #ffffff;
    font-family: "Titillium", sans-serif;
    font-weight: 300;
}

.logo a {
    text-decoration: none;
}

.logo h1:hover,
.logo img:hover {
    opacity: 70%;
}