@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*----------------------------------------General Page Styles---*/

.header-color,
.footer-color {
    background-color: #006a94;
}

.main-color {
    background-color: #eaeaea;
}

.header-footer-heading {
    color: #ffffff;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}

.main-heading {
    color: #006a94;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.header-footer-heading:hover,
.main-heading:hover,
.active a {
    color: #BAA571;
    text-decoration: none;
}

/*----------------------------------------Header---*/

/*-------------------------------Logo---*/

.logo {
    text-align: center;
}

.logo img {
    width: 260px;
    padding: 2vh;
}

.logo a {
    text-decoration: none;
    margin: auto;
}

.logo h1 {
    font-size: 5vh;
}

.navbar-toggler {
    border: 1px solid #eaeaea;
    margin: auto;
}

.navbar-toggler-icon {
    color: #eaeaea;
    height: 100%;
}

.navbar-toggler-icon:hover,
.navbar-toggler:hover {
    color: #BAA571;
    border-color: #BAA571;
}

/*-------------------------------Nav Bar---*/

.navbar-nav {
    margin: auto;
    border-top: 1px #BAA571 solid;
    font-size: 2.1vh;
}

.nav-item {
    padding: 1vh 2.5vw;
}

/*----------------------------------------Main---*/

section {
    position: relative;
    min-height: 50vh;
    padding-bottom: 
}

/*----------------------------------------Footer---*/

footer {
    position: absolute;
}

.sister-sites {
    padding-top: 2vh;
    text-align: center;
}

.sister-sites h3 {
    font-size: 1.5vh;
}

.sister-sites img {
    height: 5vh;
}

.sister-sites i {
    font-size: 5vh;
}

/*----------------------------------------About Page---*/



/*----------------------------------------Gallery Page---*/

#map {
    min-height: 360px;
}