@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*----------------------------------------General Page Styles---*/

.header-color,
.footer-color {
    background-color: #006a94;
}

.main-color {
    background-color: #eaeaea;
}

.heading {
    color: #ffffff;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}

.heading:hover {
    color: #BAA571;
    text-decoration: none;
}

/*----------------------------------------Header---*/

/*-------------------------------Logo---*/

.logo {
    text-align: center;
    padding: 2vh;
}

.logo img {
    width: 260px;
}

.logo a {
    text-decoration: none;
    margin: auto;
}

.navbar-toggler {
    border: 1px solid #eaeaea;
}

/*-------------------------------Nav Bar---*/

.navbar-nav {
    margin: auto;
    border-top: 1px #BAA571 solid;
}


/*-------------------------------Search Bar-

.btn {
    border: 1px solid #ffffff;
}

.btn:hover {
    border: 1px solid #BAA571;
}. --*/

/*----------------------------------------Main---*/

section {
    position: relative;
    min-height: 50vh;
    padding-bottom: 
}

/*----------------------------------------Footer---*/

footer {
    position: absolute;
}

.sister-sites {
    padding-top: 2vh;
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sister-sites h3 {
    font-size: 2vh;
}

.sister-sites img {
    height: 5vh;
}

.sister-sites i {
    font-size: 5vh;
}